xml/schema/option/pie/pie.rng

<?xml version="1.0" encoding="UTF-8"?>
<rng:grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0" ns="" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

  <rng:start>
    <rng:element name="pie">
      <rng:zeroOrMore>
	<rng:attribute>
	  <rng:anyName/>
	</rng:attribute>
      </rng:zeroOrMore>
      <rng:zeroOrMore>
        <rng:ref name="subst"/>
      </rng:zeroOrMore>
      <rng:optional>
	<rng:element name="copyright">
	  <rng:text/>
	</rng:element>
      </rng:optional>
      <rng:optional>
	<rng:element name="abstract">
	  <rng:text/>
	</rng:element>
      </rng:optional>
      <rng:optional>
	<rng:element name="author">
	  <rng:text/>
	</rng:element>
      </rng:optional>
      <rng:optional>
	<rng:element name="version">
	  <rng:text/>
	</rng:element>
      </rng:optional>
      <rng:zeroOrMore>
        <rng:choice>
	  <rng:ref name="section"/>
	  <rng:ref name="outline-choice"/>
	</rng:choice>
      </rng:zeroOrMore>
      <rng:optional>
        <rng:ref name="meta"/>
      </rng:optional>
      <rng:optional>
        <rng:ref name="error"/>
      </rng:optional>
    </rng:element>
  </rng:start>

  <rng:define name="flag-choice">
    <rng:choice>
      <rng:value>yes</rng:value>
      <rng:value>no</rng:value>
    </rng:choice>
  </rng:define>

  <rng:define name="valid-attr">
    <rng:optional>
      <rng:attribute name="valid">
        <rng:ref name="flag-choice"/>
      </rng:attribute>
    </rng:optional>
  </rng:define>

  <rng:define name="enum-attr">
    <rng:optional>
      <rng:attribute name="enum">
        <rng:ref name="flag-choice"/>
      </rng:attribute>
    </rng:optional>
  </rng:define>

  <rng:define name="time-attrs">
    <rng:optional>
      <rng:attribute name="origin"/>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="done"/>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="date"/>
    </rng:optional>
  </rng:define>

  <rng:define name="prio-attrs">
    <rng:optional>
      <rng:attribute name="impact">
        <rng:choice>
          <rng:value>1</rng:value>
          <rng:value>2</rng:value>
        </rng:choice>
      </rng:attribute>
    </rng:optional>
  </rng:define>

  <rng:define name="view-attrs">
    <rng:optional>
      <rng:attribute name="hidden">
        <rng:choice>
          <rng:value>1</rng:value>
          <rng:value>2</rng:value>
        </rng:choice>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="color"/>
    </rng:optional>
  </rng:define>

  <rng:define name="anyElement">
    <!-- s. http://relaxng.org/tutorial-20011203.html#IDAFLZR -->
    <rng:element>
      <rng:anyName/>
      <rng:zeroOrMore>
	<rng:choice>
	  <rng:attribute>
	    <rng:anyName/>
	  </rng:attribute>
	  <rng:text/>
	  <rng:ref name="anyElement"/>
	</rng:choice>
      </rng:zeroOrMore>
    </rng:element>
  </rng:define>

  <rng:define name="outline-choice">
    <rng:interleave>
      <rng:zeroOrMore>
        <rng:choice>
	  <rng:ref name="figure"/>
	  <rng:ref name="image"/>
	  <rng:ref name="import"/>
	  <rng:ref name="block"/>
	  <rng:ref name="include"/>
	  <rng:ref name="list"/>
	  <rng:ref name="paragraph"/>
	  <rng:ref name="blockquote"/>
	  <rng:ref name="pre-formatted"/>
	  <rng:ref name="table"/>
	  <rng:ref name="task"/>
	  <rng:ref name="html"/>
	  <rng:element name="hr">
	    <rng:empty/>
	  </rng:element>
	</rng:choice>
      </rng:zeroOrMore>
    </rng:interleave>
  </rng:define>

  <rng:define name="inline-choice">
    <rng:interleave>
      <rng:zeroOrMore>
        <rng:choice>
          <rng:text/>
          <rng:ref name="list"/>
          <rng:ref name="date"/>
          <rng:ref name="link"/>
          <rng:ref name="strong"/>
          <rng:ref name="code"/>
          <rng:ref name="emphasized"/>
          <rng:ref name="hash-tag"/>
	  <rng:ref name="span"/>
          <rng:ref name="import"/>
	</rng:choice>
      </rng:zeroOrMore>
    </rng:interleave>
  </rng:define>

  <rng:define name="span">	<!-- inline block -->
    <rng:element name="span">
      <rng:zeroOrMore>
	<rng:attribute>
	  <rng:anyName/>
	</rng:attribute>
      </rng:zeroOrMore>
      <rng:interleave>
	<rng:zeroOrMore>
	  <rng:choice>
	    <rng:text/>
	    <rng:ref name="anyElement"/>
	  </rng:choice>
	</rng:zeroOrMore>
      </rng:interleave>
    </rng:element>
  </rng:define>

  <rng:define name="block">	<!-- outline block -->
    <rng:element name="block">
      <rng:zeroOrMore>
	<rng:attribute>
	  <rng:anyName/>
	</rng:attribute>
      </rng:zeroOrMore>
      <rng:ref name="anyElement"/>
    </rng:element>
  </rng:define>

  <rng:define name="meta">
    <rng:element name="meta">
      <rng:zeroOrMore>
	<rng:attribute>
	  <rng:anyName/>
	</rng:attribute>
      </rng:zeroOrMore>
      <rng:ref name="anyElement"/>
    </rng:element>
  </rng:define>

  <rng:define name="error">
    <rng:element name="error">
      <rng:text/>
    </rng:element>
  </rng:define>

  <rng:define name="tag">
    <rng:element name="tag">
      <rng:text/>
    </rng:element>
  </rng:define>

  <rng:define name="hash-tag">
    <rng:element name="htag">
      <rng:text/>
    </rng:element>
  </rng:define>

  <rng:define name="date">
    <rng:element name="date">
      <rng:text/>
    </rng:element>
  </rng:define>

  <rng:define name="subst">
    <rng:element name="subst">
      <rng:optional>
	<rng:attribute name="string">
          <rng:data type="string"/>
	</rng:attribute>
      </rng:optional>
      <rng:optional>
        <rng:attribute name="filename">
          <rng:data type="string"/>
        </rng:attribute>
      </rng:optional>
      <rng:optional>
        <rng:attribute name="dir">
          <rng:data type="string"/>
        </rng:attribute>
      </rng:optional>
      <rng:optional>
        <rng:attribute name="to">
          <rng:data type="string"/>
        </rng:attribute>
      </rng:optional>
      <rng:optional>
        <rng:attribute name="script">
          <rng:data type="string"/>
        </rng:attribute>
      </rng:optional>
      <rng:optional>
        <rng:attribute name="file">
          <rng:data type="string"/>
        </rng:attribute>
      </rng:optional>
      <rng:optional>
        <rng:attribute name="default">
          <rng:data type="string"/>
        </rng:attribute>
      </rng:optional>
      <rng:optional>
        <rng:attribute name="argv">
          <rng:data type="string"/>
        </rng:attribute>
      </rng:optional>
      <rng:optional>
        <rng:attribute name="escaping">
          <rng:data type="string"/>
        </rng:attribute>
      </rng:optional>
      <rng:optional>
        <rng:attribute name="env">
          <rng:data type="string"/>
        </rng:attribute>
      </rng:optional>
      <rng:optional>
        <rng:attribute name="cgi">
          <rng:data type="string"/>
        </rng:attribute>
      </rng:optional>
      <rng:optional>
        <rng:attribute name="now">
          <rng:data type="string"/>
        </rng:attribute>
      </rng:optional>
    </rng:element>
  </rng:define>

  <rng:define name="html">
    <rng:element name="html">	<!-- embedded HTML body element, dont validate -->
      <rng:ref name="anyElement"/>
    </rng:element>
  </rng:define>

  <rng:define name="link">
    <rng:element name="link">
      <rng:zeroOrMore>
        <rng:choice>
	  <rng:attribute name="href">
            <rng:text/>
	  </rng:attribute>
	  <rng:attribute name="target">
            <rng:text/>
	  </rng:attribute>
        </rng:choice>
      </rng:zeroOrMore>
      <rng:text/>
    </rng:element>
  </rng:define>

  <rng:define name="strong">
    <rng:element name="strong">
      <rng:text/>
    </rng:element>
  </rng:define>

  <rng:define name="code">
    <rng:element name="code">
      <rng:text/>
    </rng:element>
  </rng:define>

  <rng:define name="emphasized">
    <rng:element name="em">
      <rng:text/>
    </rng:element>
  </rng:define>

  <rng:define name="paragraph">
    <rng:element name="p">
      <rng:ref name="valid-attr"/>
      <rng:ref name="view-attrs"/>
      <rng:ref name="prio-attrs"/>
      <rng:ref name="inline-choice"/>
    </rng:element>
  </rng:define>

  <rng:define name="blockquote">
    <rng:element name="blockquote">
      <rng:text/>
    </rng:element>
  </rng:define>

  <rng:define name="header">
    <rng:element name="h">
      <rng:ref name="view-attrs"/>
      <rng:ref name="inline-choice"/>
      <rng:text/>
    </rng:element>
  </rng:define>

  <rng:define name="list">
    <rng:element name="list">
      <rng:ref name="valid-attr"/>
      <rng:ref name="enum-attr"/>
      <rng:optional>
	<rng:interleave>
	  <rng:zeroOrMore>
            <rng:choice>
              <rng:ref name="list"/>
              <rng:ref name="paragraph"/>
            </rng:choice>
	  </rng:zeroOrMore>
	</rng:interleave>
      </rng:optional>
    </rng:element>
  </rng:define>

  <rng:define name="import">
    <rng:element name="import">
      <rng:ref name="valid-attr"/>
      <rng:optional>
	<rng:attribute name="type">
          <rng:choice>
            <rng:value>csv</rng:value>
            <rng:value>markdown</rng:value>
            <rng:value>cxp</rng:value>
            <rng:value>script</rng:value>
          </rng:choice>
	</rng:attribute>
      </rng:optional>
      <rng:choice>
	<!-- TODO: add processing args -->
        <rng:attribute name="name"/>
	<rng:text/>
	<rng:ref name="anyElement"/>
      </rng:choice>
    </rng:element>
  </rng:define>

  <rng:define name="include">
    <rng:element name="include">
      <rng:ref name="valid-attr"/>
      <rng:attribute name="name"/>
    </rng:element>
  </rng:define>

  <rng:define name="pre-formatted">
    <rng:element name="pre">
      <rng:ref name="valid-attr"/>
      <rng:text/>
    </rng:element>
  </rng:define>
  
  <rng:define name="table-data-cell">
    <rng:element name="td">
      <rng:optional>
	<rng:attribute name="colspan">
	  <data type="int"/>
	</rng:attribute>
      </rng:optional>
      <rng:ref name="inline-choice"/>
    </rng:element>
  </rng:define>
  
  <rng:define name="table-head-cell">
    <rng:element name="th">
      <rng:optional>
	<rng:attribute name="colspan">
	  <data type="int"/>
	</rng:attribute>
      </rng:optional>
      <rng:ref name="inline-choice"/>
    </rng:element>
  </rng:define>
  
  <rng:define name="table">
    <rng:choice>
      <rng:element name="table"> <!-- structured table -->
	<rng:element name="thead">
	  <rng:element name="tr">
	    <rng:oneOrMore>
              <rng:ref name="table-head-cell"/>
	    </rng:oneOrMore>
	  </rng:element>
	</rng:element>
	<rng:element name="tbody">
	  <rng:oneOrMore>
	    <rng:element name="tr">
	      <rng:oneOrMore>
		<rng:ref name="table-data-cell"/>
	      </rng:oneOrMore>
	    </rng:element>
	  </rng:oneOrMore>
	</rng:element>
      </rng:element>
      <rng:element name="table"> <!-- compact table -->
	<rng:element name="tr">
	  <rng:interleave>
	    <rng:ref name="table-head-cell"/>
	    <rng:ref name="table-data-cell"/>
	  </rng:interleave>
	</rng:element>
      </rng:element>
    </rng:choice>
  </rng:define>
  
  <rng:define name="image">
    <rng:element name="img">
      <rng:ref name="valid-attr"/>
      <rng:optional>
	<rng:attribute name="src"/>
      </rng:optional>
      <rng:optional>
	<rng:attribute name="width"/>
      </rng:optional>
    </rng:element>
  </rng:define>

  <rng:define name="figure">
    <rng:element name="fig">
      <rng:ref name="valid-attr"/>
      <rng:ref name="view-attrs"/>
      <rng:ref name="image"/>
      <rng:ref name="header"/>
    </rng:element>
  </rng:define>

  <rng:define name="task">
    <rng:element name="task">
      <rng:ref name="valid-attr"/>
      <rng:ref name="time-attrs"/>
      <rng:ref name="prio-attrs"/>
      <rng:ref name="view-attrs"/>
      <rng:optional>
	<rng:attribute name="class">
          <rng:choice>
            <rng:value>todo</rng:value>
            <rng:value>bug</rng:value>
            <rng:value>done</rng:value>
            <rng:value>req</rng:value>
            <rng:value>test</rng:value>
            <rng:value>target</rng:value>
          </rng:choice>
	</rng:attribute>
      </rng:optional>
      <rng:ref name="header"/>
      <rng:optional>
	<rng:interleave>
	  <rng:zeroOrMore>
            <rng:choice>
              <rng:ref name="list"/>
              <rng:ref name="paragraph"/>
              <rng:ref name="pre-formatted"/>
              <rng:ref name="tag"/>
            </rng:choice>
	  </rng:zeroOrMore>
	</rng:interleave>
      </rng:optional>
    </rng:element>
  </rng:define>

  <rng:define name="section">
    <rng:element name="section">
      <rng:ref name="valid-attr"/>
      <rng:ref name="time-attrs"/>
      <rng:ref name="prio-attrs"/>
      <rng:ref name="view-attrs"/>
      <rng:optional>
	<rng:ref name="header"/>
      </rng:optional>
      <rng:interleave>
	<rng:zeroOrMore>
	  <rng:choice>
	    <rng:ref name="section"/>
	    <rng:ref name="outline-choice"/>
	  </rng:choice>
	</rng:zeroOrMore>
      </rng:interleave>
    </rng:element>
  </rng:define>

</rng:grammar>
